<div *ngIf="guideForm">
    <form [formGroup]="guideForm">
      <input type="hidden" formControlName="idGuide">
      
      <label for="nom">Nom</label>
      <input type="text" formControlName="nom">
      
      <label for="dateCreation">Date de création</label>
      <input type="date" formControlName="dateCreation">
      
      <label for="description">Description</label>
      <input type="text" formControlName="description">
      
      <button type="submit" (click)="modifierGuideVoyage()">Modifier guide de voyage</button>
    </form>
  </div>
  