<app-header-pages [pageTitle]="'Créer un guide de voyage'"></app-header-pages>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">

      <p *ngIf="guideForm.value.listeU.length > 0">Liste Utilisateurs</p>
      <div *ngFor="let u of guideForm.value.listeU; let i = index">
        <div class="mb-3">
          <label hidden for="utilisateur{{i}}" class="form-label">Username</label>
          <input disabled type="text" class="form-control" name="utilisateur{{i}}" [value]="u.username">
          <button (click)="supprimerUtilisateur(i)">Supprimer</button>
        </div>
      </div>
      <div>
        <form>
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="username">
          <button type="submit" (click)="ajouterUtilisateur()">Ajouter Utilisateur</button>
        </form>
      </div>

      <form [formGroup]="guideForm">

        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control" formControlName="nom">
        </div>

        <div class="mb-3">
          <label for="dateCreation" class="form-label">Date de création</label>
          <input type="date" class="form-control" formControlName="dateCreation">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" formControlName="description" rows="4"></textarea>
        </div>

        <input hidden type="text" formControlName="estApprouve" class="form-control">

        <h3>Activités :</h3>

        <div *ngFor="let a of guideForm.value.activites; let i = index">
          <label for="activiteNom{{i}}">Nom :</label>
          <input type="text" name="activiteNom{{i}}" [(ngModel)]="a.nom" class="form-control"
            [ngModelOptions]="{ standalone: true }">

          <label for="activiteCommentaire{{i}}">Commentaire :</label>
          <textarea name="activiteCommentaire{{i}}" [(ngModel)]="a.commentaire" class="form-control"
            [ngModelOptions]="{ standalone: true }"></textarea>

          <div>
            <label for="activitePhotos{{i}}">Photos :</label>
            <div *ngFor="let photo of a.photos; let j = index">
              <img [src]="photo" alt="Photo {{j+1}}" width="200" height="150">
              <button type="button" (click)="supprimerPhoto(i, j)">Supprimer la photo</button>
            </div>
            <input type="file" name="lieuPhotos" (change)="handlePhotoUpload($event)" multiple style="display: block;">
          </div>

          <label for="activiteDepense{{i}}">Dépense :</label>
          <input type="text" name="activiteDepense{{i}}" [(ngModel)]="a.depense" class="form-control"
            [ngModelOptions]="{ standalone: true }">

          <label for="activiteType{{i}}">Type :</label>
          <input type="text" name="activiteType{{i}}" [(ngModel)]="a.type" class="form-control"
            [ngModelOptions]="{ standalone: true }">

          <div *ngIf="printActivity(a) === 'Restaurant'">
            <label for="restaurantAdresse{{i}}">Adresse :</label>
            <input type="text" name="restaurantAdresse{{i}}" [(ngModel)]="a.adresse" class="form-control"
              [ngModelOptions]="{ standalone: true }">
          </div>

          <button type="button" (click)="supprimerActivite(i)">Supprimer l'activité</button>
        </div>
      </form>

      <form>
        <div *ngIf="showActiviteForm">
          <form class="formGroup">
            <div>
              <div>
                <input type="radio" formControlName="activityType" value="restaurant" [checked]="isRestaurantSelected"
                  (change)="handleActivityTypeChange($event)">
                <label for="restaurant">Restaurant</label>
              </div>

              <div>
                <input type="radio" formControlName="activityType" value="lieu" [checked]="isLieuSelected"
                  (change)="handleActivityTypeChange($event)">
                <label for="lieu">Lieu</label>
              </div>
            </div>
            <div *ngIf="isRestaurantSelected">
              <label for="restaurantNom">Nom :</label>
              <input type="text" name="restaurantNom" [(ngModel)]="restaurant.nom" class="form-control"
                [ngModelOptions]="{ standalone: true }">

              <label for="restaurantCommentaire">Commentaire :</label>
              <textarea name="restaurantCommentaire" [(ngModel)]="restaurant.commentaire" class="form-control"
                [ngModelOptions]="{ standalone: true }"></textarea>

              <label for="restaurantPhotos">Photos :</label>
              <input type="file" name="restaurantPhotos" (change)="handlePhotoUpload($event)" multiple
                style="display: block;">

              <label for="restaurantDepense">Dépense :</label>
              <input type="text" name="restaurantDepense" [(ngModel)]="restaurant.depense" class="form-control"
                [ngModelOptions]="{ standalone: true }">

              <label for="restaurantType">Type :</label>
              <input type="text" name="restaurantType" [(ngModel)]="restaurant.type" class="form-control"
                [ngModelOptions]="{ standalone: true }">

              <label for="restaurantAdresse">Adresse :</label>
              <input type="text" name="restaurantAdresse" [(ngModel)]="restaurant.adresse" class="form-control"
                [ngModelOptions]="{ standalone: true }">
            </div>

            <div *ngIf="isLieuSelected">
              <label for="lieuNom">Nom :</label>
              <input type="text" name="lieuNom" [(ngModel)]="lieu.nom" class="form-control"
                [ngModelOptions]="{ standalone: true }">

              <label for="lieuCommentaire">Commentaire :</label>
              <textarea name="lieuCommentaire" [(ngModel)]="lieu.commentaire" class="form-control"
                [ngModelOptions]="{ standalone: true }"></textarea>

              <label for="lieuPhotos">Photos :</label>
              <input type="file" name="lieuPhotos" (change)="handlePhotoUpload($event)" multiple
                style="display: block;">

              <label for="lieuDepense">Dépense :</label>
              <input type="text" name="lieuDepense" [(ngModel)]="lieu.depense" class="form-control"
                [ngModelOptions]="{ standalone: true }">

              <label for="lieuType">Type :</label>
              <input type="text" name="lieuType" [(ngModel)]="lieu.type" class="form-control"
                [ngModelOptions]="{ standalone: true }">
            </div>

            <div>
              <button type="submit" (click)="ajouterActivite()">Ajouter</button>
              <button *ngIf="showActiviteForm" (click)="toggleActiviteForm()">Annuler</button>
            </div>

          </form>
        </div>

        <button *ngIf="!showActiviteForm" (click)="toggleActiviteForm()" style="margin-top: 2%">Ajouter une activité</button>

        <div style="margin-top: 2%; margin-bottom: 2%; display: flex; justify-content: center;">
          <button type="submit" class="btn btn-outline-primary" (click)="saveGuideVoyage()">Ajouter guide de voyage</button>
        </div>

      </form>

    </div>
  </div>
</div>
