<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form [formGroup]="guideForm">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control" formControlName="nom">
        </div>

        <div class="mb-3">
          <label for="dateCreation" class="form-label">Date de création</label>
          <input type="date" class="form-control" formControlName="dateCreation">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" formControlName="description" rows="4"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" (click)="saveGuideVoyage()">Ajouter guide de voyage</button>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
