
<app-header-pages [pageTitle]="'Nous contacter'"></app-header-pages>


<div class="text-center container py-5">


    <div class="row">
    
    
    <div class="col-lg-4">
        <div class="card">
        <div>
            <img src="https://us.123rf.com/450wm/yupiramos/yupiramos1609/yupiramos160916232/62576689-visage-d-homme-avatar-dessin-anim%C3%A9-souriant-porter-un-costume-et-une-cravate-illustration.jpg" class="w-100 taille"/>
            
        </div>
        <div class="card-body">
            
            <h5 class="onglet">Gurvan</h5>
            <h6>gurvan@gurvan.com</h6>
            
        </div>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="card">
        <div>
            <img src="\assets\Avatars\sarahAvatar.png" class="w-100 taille"/>
            
        </div>
        <div class="card-body">
            
            <h5 class="onglet">Sarah</h5>
            <h6>sarah@sarah.com</h6>
            
            
        </div>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="card">
        <div>
            <img src="\assets\Avatars\myAvatarEmilie.png" class="w-100 taille" />
            
        </div>
        <div class="card-body">
            
            <h5 class="onglet">Emilie</h5>
            <h6>emilie@emilie.com</h6>
            
        </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
        <div>
            <img src="\assets\Avatars\myAvatarBaptiste.png" class="w-100 taille" />
            
        </div>
        <div class="card-body">
            
            <h5 class="onglet">Baptiste</h5>
            <h6>baptiste@baptiste.com</h6>
            
        </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTc3-9sQFbvhTXbt968JKOiEnhbZWb_sWqvg&usqp=CAU" class="w-100 taille" />
            
        </div>
        <div class="card-body">
            
            <h5 class="onglet">Lucas</h5>
            <h6>lucas@lucas.com</h6>
            
        </div>
        </div>
    </div>
    
    
</div>