<div class="container">
  <div class="card mt-4">
    <div class="card-header">
      <h4>Détails du guide de voyage :</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Nom :</strong> {{ guide?.nom }}</p>
          <p><strong>Date de création :</strong> {{ guide?.dateCreation }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Description :</strong></p>
          <p>{{ guide?.description }}</p>
        </div>
      </div>
      <div class="mt-4">
        <h5>Activités :</h5>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let activite of guide?.activites">
            <div class="activity-details">
              <h6>{{ activite.nom }}</h6>
              <p><strong>Commentaire :</strong> {{ activite.commentaire }}</p>
              <p><strong>Prix :</strong> {{ activite.depense }}</p>
              <img *ngFor="let photo of activite.photos" [src]="photo" alt="Activité Image" class="activity-image">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
