<table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">id ville</th>
        <th scope="col">Nom du ville</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ville of listeVille | async">
        <th scope="row">{{ville.id}}</th>
        <td>{{ville.nom}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="getVilleById(ville.id)">Modifier</button>
          <button type="button" class="btn btn-danger" (click)="supprimer(ville.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>