<app-header-pages></app-header-pages>
<div class="container">
<h1>Liste des pays</h1>
<p>Il sagit ici des pays renseingées en bases de données</p>
<table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">id Pays</th>
        <th scope="col">Nom du pays</th>
        <!-- <th>Liste des villes du Pays</th> -->
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pays of listePays | async">
        <th scope="row">{{pays.id}}</th>
        <td>{{pays.nom}}</td>
        <!-- <td></td>    // -- Liste des ville du pays -->
        <td>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="getPaysById(pays.id)">Modifier</button>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="supprimer(pays.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/ajoutPays"><button type="button" class="btn btn-outline-primary btn-sm">Ajouter un Pays</button></a>
</div>

