<app-header-pages [pageTitle]="'Liste des expériences'"></app-header-pages>
<button (click)="toggleExperiencesList()">
    {{ currentExperiencesList === listeExperiencesApprouvees ? 'Voir expériences non approuvées' : 'Voir expériences
    approuvées' }}
</button>
<select class="form-select" [(ngModel)]="type">
    <option value="Plage">Plage</option>
    <option value="Montagne">Montagne</option>
    <option value="Ski">Ski</option>
    <option value="Randonnée">Randonnée</option>
    <option value="Safari">Safari</option>
</select>
<button (click)="getAllExperiences(type); doesExperienceExist(type);">Recherche des expériences</button>

<table class="table custom-table">
    <thead>
        <tr>
            <th scope="col">Identifiant</th>
            <th scope="col">Nom</th>
            <th scope="col">Date de début de séjour</th>
            <th scope="col">Date de fin de séjour</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let experience of currentExperiencesList" (click)="detailsExperiences(experience.idExperience)"
            [ngClass]="experience.estApprouvee ? 'row-approuvee' : 'row-non-approuvee'">
            <td>{{experience.idExperience}}</td>
            <td>{{experience.nom}}</td>
            <td>{{experience.dateDebut}}</td>
            <td>{{experience.dateFin}}</td>
            <td>{{experience.type}}</td>
            <td>
                <button *ngIf="!experience.estApprouvee"
                    (click)="approuverExperiences(experience.idExperience); $event.stopPropagation()">Approuver</button>
                <button (click)="updateExperiences(experience.idExperience); $event.stopPropagation()">Modifier</button>
                <button
                    (click)="deleteExperiences(experience.idExperience); $event.stopPropagation()">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>



<div *ngIf=!param>
    Aucune expérience ne correspond à cette recherche.
  
    Soyez le premier à donner votre avis !
  
    <a href="saveExperiences"><button>Créer expérience</button></a> 
  </div>


